.container
{
    background-color: rgb(249, 246, 246);
    height: 100%;
}

.searchBox {
    margin-left: 40%; 
    padding-top: 10px;
    text-align: center; 
}

.searchBox input {
    width: 80%;
    max-width: 500px; 
    height: 8vh; 
    border-radius: 10px;
    border: 1px solid blue;
    font-size: 1.5em; 
    color: blue;
    outline: blue;
}


@media (max-width: 768px) {
    .searchBox {
        margin-left: 0; 
        padding-top: 15px;
        margin-left: 300px;
    }

    .searchBox input {
        width: 90%; 
        height: 12vh;
    }
}


@media (max-width: 480px) {
    .searchBox input {
        width: 95%; 
        font-size: 1.2em; 
        
    }
}


 .searchBox input:active
 {
    border: 1px solid blue;
 }
.home
{
    display: grid;
    grid-template-columns: 300px 1fr;
    background-color: rgb(249, 246, 246);
}
.filter
{
    position: fixed;
    height: 380px;
    width: 250px;
    border-radius: 10px;
    font-size: larger;
    background-color: rgb(240, 237, 242);
    margin-bottom: 30px;
}
.filter input
{
    width: 20px;
    height: 20px;
    margin-right: 20px;
    margin-top: 7px;
}
.filter label
{
    font-size:17px;
}
.selectedItems
{
  padding-left: 20px;
}
.selectedItems input
{
  width: 20px;
  height: 20px;
  margin-top: 15px;
}
.headings
{
   text-align: center;
}
.headings input{
    margin-top: 20px;
    width: 200px;
}
.catagoryContainer
{
    margin-left: 40px;
}
label
{
    font-size: 2px;
}

  



@media screen and (max-width: 768px) {
    /* .filter{
        display: flex;
        flex-direction: row;
        margin-top: -100px;
    } */
    .filter input,
    h2,
    .headings
    {
       display: none;
    }
    .filter
    {
        
        height: 50px;
        width: 500px;
        margin-top: -150px;
        margin-left: 200px;
        background-color: white;
    }
    .catagoryContainer
    {
       display: flex;
       flex-direction: row;
       justify-content: space-around;
    }
    .filter
    {
        position: absolute;
    }
}