.data
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 100px;
    margin-left: 70px;  
}
.item
{
    width: 330px;
    height: 700px;
    border-radius: 20px;
    background-color: white;
    align-items: center;
    padding-left: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.item img{
    width: 250px;
    height: 350px;
    padding: 20px;
    
}
.item p
{
    font-size:x-large;
}
.item button
{
    width: 290px;
    height: 70px;
    border-radius: 10px;
    background-color: #7064e5;
    border: 1px solid #7064e5;
    color: white;
    font-size:x-large;
}
.item button:hover
{
    background-color: white;
    color: #7064e5;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.cartContainer
{
    display: grid;
    grid-template-columns: 300px 1fr;
    margin-top: 0px;
}
.left
{
    background-color: rgb(253, 245, 245);
    margin-top: 150px;
    margin-left: 10px;
    height: 200px;
    align-content: center;
    border-radius: 10px;
}
.con
{
    margin-left: 20px;
}

.left button
{
    margin-left: 50px;
    width: 140px;
    height: 40px;
    background-color: #7064e5;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: x-large;
}
.priceContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.quantity
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.qty
{
    margin: 5px;
}
.quantity button
{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  color: white;
  border: none;
}
.quantity button:hover
{
    background-color: black;
    color: white;
    transform: scale(1.2);
}
.remove  button
{
    background-color: red;
    border: none;
    color: white;
    border: 1px solid red;
}
.remove button:hover
{
    background-color: white;
    color: red;
    cursor: pointer;
}
